In [20]:
import pandas as pd

In [21]:
expedia_df = pd.read_csv(r"C:\Users\User\Desktop\expedia_clean_dfs\expedia_clean_df_05_07.csv")
booking_df = pd.read_csv(r"C:\Users\User\Desktop\booking\booking_hotels_clean_data_05_07.csv")

expedia_df = expedia_df.drop_duplicates(subset=["TTT", "LOS", "name"])
booking_df = booking_df.drop_duplicates(subset=["TTT", "los", "name"])

In [24]:
booking_df = booking_df.rename(columns={"los": "LOS"})

In [25]:
expedia_df["price"] = expedia_df["price_per_night"] * expedia_df["LOS"]

In [26]:
combined_df = pd.merge(expedia_df, booking_df, on=['TTT', 'LOS', 'name'], suffixes=('_expedia', '_booking'))

In [27]:
combined_df['price_difference'] = combined_df['price_booking'] - combined_df['price_expedia']

In [28]:
combined_df[["price_expedia", "price_booking", "price_difference"]]

      price_expedia  price_booking  price_difference
0               188          243.0              55.0
1               246          331.0              85.0
2               231          298.0              67.0
3               245          285.0              40.0
4               224          289.0              65.0
...             ...            ...               ...
7905            970         1265.0             295.0
7906           1015         1369.0             354.0
7907           1125         1311.0             186.0
7908            595          703.0             108.0
7909            900         1170.0             270.0

[7910 rows x 3 columns]

In [29]:
combined_df.to_csv(r"C:\Users\User\Desktop\booking_and_expedia\booking_expedia_combined_05_07.csv", index=False)